* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color:rgb(247, 220, 220);
    background-image: radial-gradient(circle 500px at top left, rgba(0, 0, 255, 0.2), transparent 70%),
    radial-gradient(circle 300px at top right, rgba(255, 0, 0, 0.2), transparent 70%),
    radial-gradient(circle 700px at bottom right, rgba(0, 255, 0, 0.2), transparent 80%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    width: 36px;
    height: 26px;
}
#navbar {
    display: flex;
    gap: 30px;
}

#navbar a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    transition: all 0.3s ease;
}
#navbar a:hover {
    text-decoration: underline;
    transform: scale(0.9);
}
#navbar a:active {
    color: blue;
}
.img-header {
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}
.img-cart {
    width: 20px;
    height: 20px;
}
.img-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.titulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -150%);
}

.active-barnsley h3 {
    color: red;
    font-size: 1rem;
}

.active-barnsley h2 {
    font-size: 2rem;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.descricao p{
    color: grey;
    font-size: 1rem;
}

img{
    width: 202px;
    height: 272px;
    z-index: 2;
    
}

#cards-container {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    position: absolute;
    bottom: -70px;
    
}

.card {
    width: 217px;
    height: 413px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.card-text{
    width: 217px;
    height: 272px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    border-radius: 5px;
    

}

.card-text h4 {
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    top: 150px;
    left: 60px;
}


.card-text p {
    font-size: 0.8rem;
    line-height: 1.3;
    color: grey;
}

.mocha-late {
    width: 321px;
    height: 715px;
}


.mocha-late .card-text {
    height: 383px;
    width: 330px;
}

.mocha-late .card-text h4 {
    position: absolute;
    top: 40%;
    left: 100px;
}

.mocha-late .card-text p {
    position: absolute;
    top: 50%;
    text-align: ;
}



.mocha-late img {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 300px;
}

.preco {
    display: flex;
    justify-content: space-between;
    width: 330px;
    z-index: 2;
    position: absolute;
    bottom: 60px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.3rem;

}